<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881791309682-dh78c5hgl47e027k7pkfhao98929cq1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881791309682-dh78c5hgl47e027k7pkfhao98929cq1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDilqYF1LMHEk94KXuiiLYFp0ddoGu6AWg</string>
	<key>GCM_SENDER_ID</key>
	<string>881791309682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcd.LoodosCase</string>
	<key>PROJECT_ID</key>
	<string>loodoscase-c2594</string>
	<key>STORAGE_BUCKET</key>
	<string>loodoscase-c2594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:881791309682:ios:9fb5c60cc8ff879d0fafeb</string>
	<key>DATABASE_URL</key>
	<string>https://loodoscase-c2594-default-rtdb.europe-west1.firebasedatabase.app/</string>
</dict>
</plist>
